
<div class="panel panel-green" style="margin-left: 15px; margin-right: 15px;">
    <div><h1>Make Rest Call</h1></div>
    <div class="panel-body" style="margin-left: 10px;">
        <div class="row">
            <div class="col-sm-1">
                <button id="btnGetJson"
                        name="btnGetJson"
                        class="btn btn-primary"
                        ng-click="getJsonRequest()">
                    Get Json
                </button>
            </div>
            <div class="col-sm-1">
                <button id="btnPlainText"
                        name="btnPlainText"
                        class="btn btn-primary"
                        ng-click="getPlainTextRequest()">
                    Get Plain Text
                </button>
            </div>
        </div>
    </div>
</div>



